*{
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
}

.background-image {
  background-image: url(nature_clouds_lichtspiel.jpg);
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 99%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

.content {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 2;
}
h1{
    color: #fff;
    text-align: center;
}
.coming-soon {
    color: #fff;
    text-align: center;
}
